*{
  margin:0;
  padding:0;
  font-family:  cursive
}
body{
  background-color: rgb(187, 41, 97)
}
#tag1 {
  text-align: center;
  color: rgba(248, 253, 239, 0.795);
  padding:50px;
  
}
#tag2 {
  text-align: center;
  display: flex;
  flex-direction: column;
 
}
#tag2 a{
  text-decoration: none;
  color: #e7f1fd;
  border: 1px rgb(146, 34, 77) solid;
  margin: 10px;
  padding: 15px;
  min-width: 50px ;
  background-color: rgb(146, 34, 77);
  border-radius: 10px;
   
  transition: 0.3s;
  text
  
  
}
#tag2 a:hover{
  background: rgb(124, 30, 66);
}